<article>
  <header>
    <h1>Te damos la bienvenida</h1>
  </header>
  <p><strong>Nombre:</strong> {{userSession.first_name}}</p>
  <p><strong>Apellido:</strong> {{userSession.last_name}}</p>
  <p><strong>Correo:</strong> {{userSession.email}}</p>
  <p><strong>Edad:</strong> {{userSession.age}}</p>
  <p><strong>Rol:</strong> {{userSession.role}}</p>
  <footer>
    <a href="/api/session/logout" role="button">Cerrar Sesión</a>
  </footer>
</article>

<h1>Lista de productos</h1>
  <table>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Correo</th>
      <th scope="col">Rol</th>
    </tr>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.fullname}}</td>
        <td>{{this.email}}</td>
        <td>{{this.role}}</td>
        <td><a href="/users/premium/{{this.id}}" role="button">Cambiar Rol</a></td>
        <td><a href="/users/delete/{{this.id}}" role="button">Eliminar</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>