<article>
  <header>
    <h1>Te damos la bienvenida</h1>
  </header>
  <p><strong>Id:</strong> {{userSession._id}}</p>
  <p><strong>Nombre:</strong> {{userSession.first_name}}</p>
  <p><strong>Apellido:</strong> {{userSession.last_name}}</p>
  <p><strong>Correo:</strong> {{userSession.email}}</p>
  <p><strong>Edad:</strong> {{userSession.age}}</p>
  <p><strong>Rol:</strong> {{userSession.role}}</p>
  <footer> 
     {{#if comprarBolean}}
     <a href="/carts/{{this.cart}}/purchaser" role="button">Comprar</a>
    {{/if}}
  
     <a href="/products" role="button">Volver</a>
  </footer>
</article>

<h1>Carrito # {{cart}}</h1>

  <table>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Link imagen</th>
      <th scope="col">Categoria</th>
      <th scope="col">Estado</th>
      <th scope="col">Quantity</th>
    </tr>
    <tbody>
      {{#each result}}
      <tr>
        <td>{{this.product._id}}</td>
        <td>{{this.product.title}}</td>
        <td>{{this.product.description}}</td>
        <td>{{this.product.price}}</td>
        <td>{{this.product.thumbnail}}</td>
        <td>{{this.product.category}}</td>
        <td>{{#if this.product.status}}Habilitado {{else}}Deshabilitado{{/if}}</td>
        <td>{{this.quantity}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>