<div>
  <h1>Lista de productos </h1>
</div>
<hr />
<div>
  {{#each products}}
  <article>
    <p><strong>Titulo</strong>: {{this.title}}</p>
    <p><strong>Descripcion</strong>: {{this.description}}</p>
    <p><strong>Precio</strong>: {{this.price}}</p>
    <p><strong>Imagen</strong>: {{this.thumbnail}}</p>
    <p><strong>Codigo</strong>: {{this.code}}</p>
    <p><strong>Stock</strong>: {{this.stock}}</p>
    <p><strong>Estado</strong>:{{#if this.status}}Habilitado {{else}}Deshabilitado{{/if}}</p>
    <p><strong>Categoria</strong>: {{this.category}}</p>
    <hr />
  </article>
  {{/each}}
</div>

